<!DOCTYPE html>
<html lang="now" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Thermostat Config</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css')}}">
    </head>
    <body>

        <h1>Thermostat Config</h1>

        <form id="config-form" class="config" action="{{ url_for('set_config') }}" method="POST">
            <table >
                <tbody>
                    {% for category in context["config"] %}
                    <tr>
                        <td class="label-data">
                            <label for="{{category}}">{{category}}</label>
                        </td>
                        <td class="input-data">
                                <input id="{{category}}" type="text" name="{{category}}" value="{{context['config'][category]}}" form="config-form">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <input type="submit" name="submit" value="Submit" form="config-form">
        </form>
    </body>
</html>
